<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>SmartNinja basic Jinja template</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

<div class="jumbotron">
        <h1>Pozdravljen v spletni aplikaciji Loto!</h1>
        <p>Želiš dobiti zmagovalno kombinacijo osmih loto številk?</p>
        <p><a class="btn btn-primary btn-lg" href="/loto" role="button">Pritisni ta gumb!!</a></p>
</div>

</body>
</html>